version: '3.8'

services:
  postgres_db:
    image: postgres:16
    container_name: bc_handball_pg
    restart: always
    environment:
      POSTGRES_PASSWORD: devpass
      POSTGRES_USER: devuser
      POSTGRES_DB: handball_is
    ports: 
      - "5432:5432"
    volumes: 
      - pg_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    depends_on: 
      - postgres_db
    environment:
      PGADMIN_DEFAULT_EMAIL: tomasp117@seznam.cz
      PGADMIN_DEFAULT_PASSWORD: pcup_handball_is
    ports: 
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  bc_handball_be:
    build:
      context: .
      dockerfile: bc_handball_be.API/Dockerfile
    container_name: bc_handball_be
    restart: always
    depends_on:
      - postgres_db
    ports:
      - "5000:8080"
    volumes:
      - images_data:/app/wwwroot/images
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ConnectionStrings__DefaultConnection: "Host=postgres_db;Port=5432;Database=handball_is;Username=devuser;Password=devpass"
    entrypoint: >
      sh -c "echo 'Waiting for Postgres...' && sleep 5 && dotnet bc_handball_be.API.dll"

volumes:
  pg_data:
  pgadmin_data:
  images_data: